<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Online Auction Home Page</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/auction.custom.css"
	th:href="@{/resources/css/auction.custom.css}" />
<!-- Custom Fonts -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" 
    th:href="@{/resources/css/font-awesome.min.css}" /> 	
</head>
<body>

	<div th:replace="templates/headerhomepage :: headerhomepage"></div>
	<div class="container">
		<!-- include header -->

		<!-- Content -->
		<div class="row">
			<!-- News Auction -->
			<div class="bg-info">
				<blockquote>
					<p class="text-justify text-capitalize">News Auction</p>
				</blockquote>
			</div>
			<div class="col-md-2">
				<a href="#">Artemis_Bronze </a> <img
					th:src="@{/resources/image/artemis_bronze.jpg}"
					src="../../../resources/image/artemis_bronze.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>4.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Badminton Cabinet </a> <img
					th:src="@{/resources/image/badminton_cabinet.jpg}"
					src="../../../resources/image/badminton_cabinet.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>5.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Codex Hammer</a> <img
					th:src="@{/resources/image/codex_hammer.jpg}"
					src="../../../resources/image/codex_hammer.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>24.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Elvis Presley </a> <img
					th:src="@{/resources/image/elvis_presley.jpg}"
					src="../../../resources/image/elvis_presley.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>7.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Ferrari Testa Rossa A </a> <img
					th:src="@{/resources/image/ferrari_testa_rossa_a.jpg}"
					src="../../../resources/image/ferrari_testa_rossa_a.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>121.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Guarneri Del Gesu </a> <img
					th:src="@{/resources/image/guarneri_del_gesu.jpg}"
					src="../../../resources/image/guarneri_del_gesu.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>23.000.000 VND</strong>
				</p>
			</div>
		</div>
		<!-- End News Auction -->

		<div class="row">
			<!-- Hot Auction -->
			<div class="bg-info">
				<blockquote>
					<p class="text-justify text-capitalize">Hot Auction</p>
				</blockquote>
			</div>
			<div class="col-md-2">
				<a href="#">Ferrari Testa Rossa A </a> <img
					th:src="@{/resources/image/ferrari_testa_rossa_a.jpg}"
					src="../../../resources/image/ferrari_testa_rossa_a.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>121.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Guarneri Del Gesu </a> <img
					th:src="@{/resources/image/guarneri_del_gesu.jpg}"
					src="../../../resources/image/guarneri_del_gesu.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>23.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Artemis_Bronze </a> <img
					th:src="@{/resources/image/artemis_bronze.jpg}"
					src="../../../resources/image/artemis_bronze.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>4.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Marilyn Monroe </a> <img
					th:src="@{/resources/image/marilyn_monroe.jpg}"
					src="../../../resources/image/marilyn_monroe.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>115.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Codex Hammer</a> <img
					th:src="@{/resources/image/codex_hammer.jpg}"
					src="../../../resources/image/codex_hammer.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>24.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Elvis Presley </a> <img
					th:src="@{/resources/image/elvis_presley.jpg}"
					src="../../../resources/image/elvis_presley.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>7.000.000 VND</strong>
				</p>
			</div>
		</div>
		<!-- End Hot Auction -->

		<div class="row">
			<!-- End Auction -->
			<div class="bg-info">
				<blockquote>
					<p class="text-justify text-capitalize">End Auction</p>
				</blockquote>
			</div>
			<div class="col-md-2">
				<a href="#">Mark Mcgwire Baseball </a> <img
					th:src="@{/resources/image/mark_mcgwire_baseball.jpg}"
					src="../../../resources/image/mark_mcgwire_baseball.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>11.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Picasso Painting</a> <img
					th:src="@{/resources/image/picasso_painting.jpg}"
					src="../../../resources/image/picasso_painting.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>123.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Artemis_Bronze </a> <img
					th:src="@{/resources/image/artemis_bronze.jpg}"
					src="../../../resources/image/artemis_bronze.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>4.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Wittlsbach Diamond</a> <img
					th:src="@{/resources/image/wittlsbach_diamond.jpg}"
					src="../../../resources/image/wittlsbach_diamond.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>19.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Codex Hammer</a> <img
					th:src="@{/resources/image/codex_hammer.jpg}"
					src="../../../resources/image/codex_hammer.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>24.000.000 VND</strong>
				</p>
			</div>
			<div class="col-md-2">
				<a href="#">Elvis Presley </a> <img
					th:src="@{/resources/image/elvis_presley.jpg}"
					src="../../../resources/image/elvis_presley.jpg"
					class="img-thumbnail" />
				<p class="text-center">
					<strong>7.000.000 VND</strong>
				</p>
			</div>

		</div>
	</div>
	<!-- end Container -->
	<!-- inclde footer -->
	<div th:replace="templates/footer :: footer"></div>
	<script src="js/jquery-latest.min.js"
		th:src="@{/resources/js/jquery-latest.min.js}">
		
	</script>
	<script src="js/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="js/bootstrap-hover-dropdown.js"
		th:src="@{/resources/js/bootstrap-hover-dropdown.js}"></script>

	<script>
		// very simple to use!
		$(document).ready(function() {
			$('.js-activated').dropdownHover().dropdown();
		});
	</script>
</body>
</html>
