<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
	<div th:fragment="footeradmin">
		<script src="js/jquery-latest.min.js"
			th:src="@{/resources/js/jquery-latest.min.js}">
			
		</script>
		<script src="js/bootstrap.min.js"
			th:src="@{/resources/js/bootstrap.min.js}">
			
		</script>
		<script src="css/admin/metisMenu.min.js"
			th:src="@{/resources/css/admin/metisMenu.min.js}">
			
		</script>
		<script src="css/admin/morris.min.js"
			th:src="@{/resources/css/admin/morris.min.js}">
			
		</script>
		<script type="text/javascript" src="js/jquery.dataTables.min.js"
			th:src="@{/resources/js/jquery.dataTables.min.js}">
			
		</script>
		<script type="text/javascript" src="js/dataTables.bootstrap.js"
			th:src="@{/resources/js/dataTables.bootstrap.js}"></script>
		<!-- Custom Theme JavaScript  -->

		<script src="css/admin/sb-admin-2.js"
			th:src="@{/resources/css/admin/sb-admin-2.js}"></script>
	</div>
</body>
</html>