<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
	<div th:fragment="footeradmin">
		<script src="js/jquery-latest.min.js"
			th:src="@{/resources/js/jquery-latest.min.js}">
			
		</script>
		
		<script src="js/bootstrap.min.js"
			th:src="@{/resources/js/bootstrap.min.js}">
			
		</script>
		<script src="css/admin/metisMenu.min.js"
			th:src="@{/resources/css/admin/metisMenu.min.js}">
			
		</script>
		<script src="css/admin/morris.min.js"
			th:src="@{/resources/css/admin/morris.min.js}">
			
		</script>  
		<!-- Custom Theme JavaScript  -->

		<script src="css/admin/sb-admin-2.js"
			th:src="@{/resources/css/admin/sb-admin-2.js}"></script> 
		<script src="jquery/jquery-ui.min.js"
			th:src="@{/resources/jquery/jquery-ui.min.js}"></script>
		<script src="jquery/jquery.confirm.min.js"
			th:src="@{/resources/jquery/jquery.confirm.min.js}"></script>
		<script src="js/custom-auction.js"
			th:src="@{/resources/js/custom-auction.js}"></script> 
		
	</div>
</body>
</html>