  
.error{color: red;} 
.dropdownwidth{
	min-width: 1120px;
}
.dropdown-header-cate {
    display:  inline-block;
    
    padding: 3px 20px;
    font-size: 14px;
    line-height: 1.42857; 
    white-space: nowrap;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 28px;
}

.border-form {
	boder: 1px solid;
}

.top-row {
	margin-top: 10px;
	margin-bottom: 20px;
}
.navbar-bottom {
min-height: 100px;
margin-top: 20px;  
background-color: #286090;
padding-top: 35px;
border-color: #204D74;
color:#FFFFFF;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #F5F5F5;
}